<div class="dib">
  
  <div class="flex items-center bg-yellow-50 yellow-90 br2 pv1 ph2 mb3">
    <img class="pv1 ph2" src="../images/global/warning-16.svg" alt="">
    <p class="pt1 mv0 mr3 lh-solid">
      This is a working draft
    </p>
    <a class="bg-yellow-60 br1 yellow-90 pa1 fw5 hover-bg-yellow-70 hover-white font-smoothing ttu f4" href="https://github.com/FirefoxUX/photon/issues" alt="Submit feedback about type scale">REPORT ISSUE</a>
  </div>
  

  

  
</div>
<header>
  <h1>Buttons</h1>
  <p>Buttons let users understand what action will occur when they click or tap them.</p>
</header>
<section>
  <h2>Usage</h2>
  <p>
    Buttons make actions visible. They enable users to change or complete a task. An example of their usage is the installation of a new extension. If the action is to navigate to a different page use a link instead of a button with the exception of a back or forward button.
  </p>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-usage-do.svg" alt="">
    <figcaption class="flex bt bw2 b--green-60 pt1">
  <img class="mr2" src="../images/global/check.svg" alt="">
  <span class="green-70" style="margin-top: 2px">Do</span>
</figcaption>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-usage-dont.svg" alt="">
    <figcaption class="flex bt bw2 b--red-60 pt1">
  <img class="mr2" src="../images/global/stop.svg" alt="">
  <span class="red-60" style="margin-top: 2px">Don't</span>
</figcaption>
  </div>
</div>
</section>
<section>
  <h2>Types</h2>
  <h3>Default</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <p>
      Default buttons when you have to list multiple actions in one single view or for secondary actions when combined with a primary action.
    </p>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-default.svg" alt="">
  </div>
</div>
  <h3>Primary</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <p>
      Primary buttons are used to draw attention to a specific action. Try to limit one primary button per view unless is a reapating primary action.
    </p>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-primary.svg" alt="">
  </div>
</div>
  <h3>Ghost</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <p>
      Ghost buttons are used with icons only.
    </p>
    <p>
      Add a background if there is not enough cue that the button is actionable.
    </p>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-ghost.svg" alt="">
  </div>
</div>
</section>
<section>
  <h2>Variants</h2>
  <h3>Label</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <p>
      Use a consistent voice with a short and imperative label. Make sure to check the voice and tone guidelines in order to lead users most effectively.
    </p>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-label.svg" alt="">
  </div>
</div>
  <h3>Icon</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <p>
      If there is enough cue that the button is clickable the icon can stand by itself. Otherwise combine it with a background when the context is not clear enough.
    </p>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-icon.svg" alt="">
  </div>
</div>
  <h3>Label and icon</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <p>
      When necessary pair a button label with an icon. It enhances the meaning of a call to action and improves recognition.
    </p>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-label-icon.svg" alt="">
  </div>
</div>
  <h3>Segmented</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <p>
      Segmented buttons are dropdowns with two separate sections. One section displays the current selection. If pressed the action is triggered. The other section, an arrow, if pressed displays the other options.
    </p>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-segmented.svg" alt="">
  </div>
</div>
</section>
<section>
  <h2>Styles</h2>
  <h3>Text, Icons and Background Colors</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <table>
      <thead>
        <tr>
          <th>Element</th>
          <th>Value</th>
          <th>Opacity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Text</td>
          <td><code>#0c0c0d</code></td>
          <td>100%</td>
        </tr>
        <tr>
          <td>Background</td>
          <td><code>#0c0c0d</code></td>
          <td>10%</td>
        </tr>
        <tr>
          <td>Icon</td>
          <td><code>#0c0c0d</code></td>
          <td>80%</td>
        </tr>
        <tr>
          <td>Separator</td>
          <td><code>#0c0c0d</code></td>
          <td>30%</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-segmented.svg" alt="">
  </div>
</div>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <table>
      <thead>
        <tr>
          <th>Element</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Text</td>
          <td><code>#ffffff</code></td>
        </tr>
        <tr>
          <td>Background</td>
          <td><code>#0060df</code></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-primary.svg" alt="">
  </div>
</div>
  <h3>Corner Radius</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <table>
      <thead>
        <tr>
          <th>Size</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Micro</td>
          <td>2px</td>
        </tr>
        <tr>
          <td>Default</td>
          <td>2px</td>
        </tr>
        <tr>
          <td>Puffy</td>
          <td>4px</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-radius.svg" alt="">
  </div>
</div>
</section>
<section>
  <h2>Sizes</h2>
  <h3>Micro</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <table>
      <thead>
        <tr>
          <th>Property</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Height</td>
          <td>24px</td>
        </tr>
        <tr>
          <td>Padding</td>
          <td>8px</td>
        </tr>
        <tr>
          <td>Size</td>
          <td>11px</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-micro.svg" alt="">
  </div>
</div>
  <h3>Default</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <table>
      <thead>
        <tr>
          <th>Property</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Height</td>
          <td>32px</td>
        </tr>
        <tr>
          <td>Padding</td>
          <td>8px</td>
        </tr>
        <tr>
          <td>Size</td>
          <td>13px</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-primary.svg" alt="">
  </div>
</div>
  <h3>Puffy</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <table>
      <thead>
        <tr>
          <th>Property</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Height</td>
          <td>48px</td>
        </tr>
        <tr>
          <td>Padding</td>
          <td>16px</td>
        </tr>
        <tr>
          <td>Size</td>
          <td>15px</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-puffy.svg" alt="">
  </div>
</div>
</section>
<section>
  <h2>Behaviors</h2>
  <h3>Default</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2 mb3">
    <table>
      <thead>
        <tr>
          <th>State</th>
          <th>Background</th>
          <th>Opacity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Deafult</td>
          <td><code>#0c0c0d</code></td>
          <td>10%</td>
        </tr>
        <tr>
          <td>Hover</td>
          <td><code>#0c0c0d</code></td>
          <td>20%</td>
        </tr>
        <tr>
          <td>Pressed</td>
          <td><code>#0c0c0d</code></td>
          <td>30%</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="fl-ns w-50-ns ph2 mb3">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-behaviour-default-light.svg" alt="">
  </div>
</div>
  <h3>Primary</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2 mb3">
    <table>
      <thead>
        <tr>
          <th>State</th>
          <th>Background</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Deafult</td>
          <td><code>#0060df</code></td>
        </tr>
        <tr>
          <td>Hover</td>
          <td><code>#003eaa</code></td>
        </tr>
        <tr>
          <td>Pressed</td>
          <td><code>#002275</code></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="fl-ns w-50-ns ph2 mb3">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-behaviour-primary-light.svg" alt="">
  </div>
</div>
</section>