<header>
  <h1>Buttons</h1>
  <p>Buttons let users understand what action will occur when they click or tap them.</p>
</header>
<section>
  <h2>Types</h2>
  <h3>Default</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <p>
      Default buttons when you have to list multiple actions in one single view or for secondary actions when combined with a primary action.
    </p>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-default.svg" alt="">
  </div>
</div>
  <h3>Primary</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <p>
      Primary buttons are used to draw attention to a specific action. Try to limit one primary button per view unless is a reapating primary action.
    </p>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-primary.svg" alt="">
  </div>
</div>
  <h3>Ghost</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <p>
      Ghost buttons are used with icons only. Add a background if there is not enough cue that the button is actionable.
    </p>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-ghost.svg" alt="">
  </div>
</div>
</section>
<section>
  <h2>Variations</h2>
  <h3>Label</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <p>
      Use a consistent voice with a short and imperative label. Make sure to check the voice and tone guidelines in order to lead users most effectively.
    </p>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-label.svg" alt="">
  </div>
</div>
  <h3>Icon</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <p>
      If there is enough cue that the button is clickable the icon can stand by itself. Otherwise combine it with a background when the context is not clear enough.
    </p>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-icon.svg" alt="">
  </div>
</div>
  <h3>Label and icon</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <p>
      When necessary pair a button label with an icon. It enhances the meaning of a call to action and improves recognition.
    </p>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-label-icon.svg" alt="">
  </div>
</div>
  <h3>Dropdown</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <p>
      Dropdown description
    </p>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-dropdown.svg" alt="">
  </div>
</div>
  <h3>Segmented button</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <p>
      Segmented description
    </p>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-segmented.svg" alt="">
  </div>
</div>
  <h3>Footer button</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <p>
      Buttons sticky at the bottom of a component like a doorhanger or a sidebar. The content scrolls and overflows underneath.
    </p>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-footer.svg" alt="">
  </div>
</div>
</section>
<section>
  <h2>Styles</h2>
  <h3>Text, Icons and Background Colors</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <p>
      Text color: #0c0c0d<br>
      Background color: 10% #0c0c0d<br>
      Icon color: 80% #0c0c0d<br>
      Separator color: 30% #0c0c0d
    </p>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-segmented.svg" alt="">
  </div>
</div>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <p>
      Text color: #ffffff<br>
      Background color: #0a84ff
    </p>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-primary.svg" alt="">
  </div>
</div>
  <h3>Corner Radius</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <p>
      Border radius: 2px
    </p>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-radius.svg" alt="">
  </div>
</div>
</section>
<section>
  <h2>Densities</h2>
  <h3>Micro</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <p>
      Width: Auto<br>
      Height: 24px<br>
      Padding: 8px<br>
      Font size: 11px
    </p>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-micro.svg" alt="">
  </div>
</div>
  <h3>Default</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <p>
      Min width: 132px<br>
      Height: 32px<br>
      Padding: 8px<br>
      Font size: 13px
    </p>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-primary.svg" alt="">
  </div>
</div>
  <h3>Puffy</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <p>
      Min width: 132px<br>
      Height: 48px<br>
      Padding: 16px<br>
      Font size: 15px
    </p>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-puffy.svg" alt="">
  </div>
</div>
</section>
<section>
  <h2>Behaviour</h2>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2 mb3">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-behaviour-default-light.svg" alt="">
  </div>
  <div class="fl-ns w-50-ns ph2 mb3">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-behaviour-default-dark.svg" alt="">
  </div>
  <div class="fl-ns w-50-ns ph2 mb3">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-behaviour-primary-light.svg" alt="">
  </div>
  <div class="fl-ns w-50-ns ph2 mb3">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-behaviour-primary-dark.svg" alt="">
  </div>
</div>
</section>